<div class="homepage__banner">
    <div class="homepage__banner--inner-wrapper">
        <div class="homepage__banner--text-content">
            <div class="homepage__banner--inner-text">
                <h1 class="site-title__xl">{{ section.settings.banner_title}}</h1>
                <p>{{ section.settings.banner_description }}</p>
                {% if section.settings.banner_show_payments %}
                    {% render 'global-payment-methods' %}
                {% endif %}
            </div>
            <button type="button" class="btn white">Shop All Flavors</button>
        </div>
        <div class="homepage__banner--image">
            <img 
                src="{{ section.settings.banner_image | image_url }}" 
                alt="Banner Image"
                width=""
                height="600"
            >
        </div>
    </div>
</div>