p {
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: normal;
}

.site-title__xxl {
    font-size: 3.5rem;
    font-weight: 800;
    line-height: 1.4;
}

.site-title__xl {
    font-size: 2.5rem;
    font-weight: 800;
    line-height: 1.4;
}

.site-title__lg {
    font-size: 1.875rem;
    font-weight: 700;
    line-height: 1.4;
}

.site-title__md {
    font-size: 1.5rem;
    font-weight: 600;
    line-height: normal;
}

.text-uppercase {
	text-transform: uppercase
}

.text-italic {
	font-style: italic
}

.text-normal {
	font-style: normal
}

.text-hidden {
	font-size: 0
}

.text-bold {
	font-weight: 700
}

.text-white {
    color: #FFFFFF;
}

.text-black {
    color: #1B1B1B;
}