.flex {
	display: flex
}

.flex-col {
	flex-direction: column
}

.flex-row {
	flex-direction: row
}

.flex-row-reverse {
	flex-direction: row-reverse
}

.flex-col-reverse {
	flex-direction: column-reverse
}

.flex-wrap {
	flex-wrap: wrap
}

.flex-row-wrap {
    flex-flow: row wrap;
}

.flex-row-nowrap {
    flex-flow: row nowrap;
}

.flex-col-nowrap {
    flex-flow: column nowrap;
}

.flex-reverse-wrap {
    flex-flow: row-reverse wrap;
}

.d-none {
	display: none
}

.d-block {
	display: block
}

.d-inline {
	display: inline
}

.w-full {
	width: 100%
}

.w-max-content {
	width: -moz-max-content;
	width: max-content
}

.w-min-content {
	width: -moz-min-content;
	width: min-content
}

.justify-start {
	justify-content: flex-start
}

.justify-end {
	justify-content: flex-end
}

.justify-center {
	justify-content: center
}

.justify-between {
	justify-content: space-between
}

.align-center {
	align-items: center
}

.align-start {
	align-items: flex-start
}

.align-end {
	align-items: flex-end
}

.align-stretch {
	align-items: stretch
}

.position-relative {
	position: relative
}

.position-absolute {
	position: absolute
}

.container-full {
    width: 100%;
    max-width: 100%;
    margin-inline: auto;
}

.container {
    width: 100%;
    max-width: 1240px;
    margin-inline: auto;
}