@use '../abstracts/' as abstracts;

.btn {
    all: unset;
    display: flex;
    width: max-content;
    align-items: center;
    justify-content: center;
    height: 56px;
    padding: 0 24px;
    font-size: 16px;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.3s ease;
    background-color: var(--color-primary);
    color: var(--color-secondary);
    border-radius: 1000px;
    text-align: center;

    &:hover {
        background: #333333;
        color: var(--color-secondary);

        svg path {
            fill: var(--color-secondary);
        }
    }

    &.white {
        background-color: var(--color-secondary);
        color: var(--color-primary);

        &:hover {
            background: #b5b4b4;
        }
    }

    &.full {
        width: auto;
        text-align: center;
    }

    &.bordered-black {
        border: 1px solid #1B1B1B;
    }

    &.transparent {
        background: transparent;

        &:hover {
            background-color: var(--color-primary);

            svg path {
                fill: var(--color-secondary);
            }
        }
    }

    &.circle {
        width: 40px;
        height: 40px;
        padding: 0;
    }

    &.boxed {
        border-radius: 0;
    }
}