@use '../abstracts/' as abstracts;

.btn {
    all: unset;
    display: flex;
    width: max-content;
    align-items: center;
    justify-content: center;
    height: 56px;
    padding: 0 24px;
    font-size: 16px;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.3s ease;
    background-color: var(--color-primary);
    color: var(--color-secondary);
    border-radius: 1000px;

    &:hover {
        background: #333333;
        color: var(--color-secondary);
    }

    &.white {
        background-color: var(--color-secondary);
        color: var(--color-primary);

        &:hover {
            background: #b5b4b4;
        }
    }

    @include abstracts.media-min(sm) {
        border-radius: 0;
    }
}