@use '../abstracts/' as abstracts;

.cta-section {
    &__inner-wrapper {
        padding: 16px 24px;
    }

    &__card-list {
        gap: 24px;
    }

    &__card {
        border-radius: 24px;
        border: 1px solid var(--color-primary);
        width: 100%;
        padding: 24px;
        flex-grow: 1;
        overflow: hidden;

        &.with-media {
            padding: 0;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
            }
        }

        &.no-button {
            align-items: center;
            justify-content: center;
        }

        #cta-video-player {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }

    &__video {
        width: 100%;
        height: 100%;
    }

    &__description {
        margin-bottom: 40px;

        &.no-button {
            margin-bottom: 0;
        }
    }

    .site-title__lg {
        margin-bottom: 16px;
    }

    .btn {
        margin-top: auto;
        width: auto;
    }

    @include abstracts.media-min(sm) {
        &__inner-wrapper {
            padding: 64px 0;
        }

        &__card-list{
            gap: 40px;
        }

        &__card {
            width: calc(50% - 40px);
        }

        .btn {
            width: max-content;
        }
    }
}