@use '../abstracts/' as abstracts;

.featured-testimonial {
    padding: 40px 0;
    overflow: hidden;

    &__inner-wrapper {
        margin-left: 24px;
        margin-right: -150px;
    }

    &__carousel {
        &--item {
            display: flex;
            align-items: center;
            justify-content: center;
            width: calc(50% - 16px);
            padding: 40px 24px;
            min-height: 408px;
            
            &::before {
                content: '';
                position: absolute;
                z-index: 25;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-color: #0000004e;
            }
        }

        &--background {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            z-index: 20;
            background-size: cover;
            background-position: center;
        }

        &--content {
            position: relative;
            z-index: 30;
            color: var(--color-secondary);
            text-align: center;
            width: 222px;
            margin-inline: auto;

            h4 {
                font-size: 24px;
                font-weight: 600;
                line-height: normal;
                text-transform: capitalize;
                position: relative;
                width: max-content;
                margin-inline: auto;

                &::after {
                    display: block;
                    position: relative;
                    margin: 16px auto 0;
                    height: 5px;
                    content: '';
                    background-color: var(--color-secondary);
                    width: calc(100% - 19px);
                }
            }
        }

        &--desc {
            margin-top: 40px;
        }
    }
    
    @include abstracts.media-min(md) {
        padding: 0 0 80px;

        &__inner-wrapper {
            margin-left: calc(min(8.738vw, 125.828px));
        }
    }
}