.form {
    &__group {
        &--inline {
            display: flex;
            align-items: center;
            gap: 40px;            
        }
    }

    &__control {
        display: flex;
        padding: 16px 24px;
        flex-grow: 1;

        &.bordered-white {
            border: 1px solid var(--color-secondary);

            input, 
            textarea {
                color: var(--color-secondary);
            }

            input::placeholder, 
            textarea::placeholder {
                color: var(--color-secondary) / 2;
            }
        }

        &.border-black {
            border: 1px solid var(--color-primary);

            input, 
            textarea {
                color: var(--color-primary);
            }
        }

        &.rounded {
            border-radius: var(--input-corner-radius);
        }

        input {
            all: unset;
            width: 100%;
            font-size: 16px;            
            font-weight: 400;
            line-height: normal;
        }
    }
}