@use '../abstracts/' as abstracts;

.form {
    &__group {
        &--inline {
            display: flex;
            align-items: stretch;
            gap: 16px;
            flex-direction: column;
        }
    }

    &__control {
        display: flex;
        padding: 16px 24px;
        flex-grow: 1;
        border-radius: 8px;

        &.bordered-white {
            border: 1px solid var(--color-secondary);

            input, 
            textarea {
                color: var(--color-secondary);
            }

            input::placeholder, 
            textarea::placeholder {
                color: var(--color-secondary) / 2;
            }
        }

        &.bordered-black {
            border: 1px solid var(--color-primary);

            input, 
            textarea {
                color: var(--color-primary);
            }
        }

        &.rounded {
            border-radius: var(--input-corner-radius);
        }

        input {
            all: unset;
            width: 100%;
            font-size: 16px;            
            font-weight: 400;
            line-height: normal;
        }
    }

    @include abstracts.media-min(xsm) {
        &__group {
            &--inline {
                flex-direction: row;
                align-items: center;
                gap: 24px;
            }
        }
    }

    @include abstracts.media-min(sm) {
        &__control {
            border-radius: 0;
        }

        &__group {
            &--inline {
                gap: 40px;            
            }
        }
    }
}