.payment-list {
    gap: 8px;
    flex-wrap: wrap;
    
    .payment-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 48.448px;
        height: 24.224px;
        padding: 0 7px;
        background-color: var(--color-secondary);
        flex-shrink: 0;

        img {
            width: auto;
            height: 100%;
            object-fit: contain;
        }
    }
}