@use '../abstracts/' as abstracts;

.product-slider {   
    position: relative; 

    &__inner-wrapper {
        padding-top: 12px;
        padding-bottom: 12px;
    }

    &__item {
        width: 100%;
        margin-inline: auto;
        border: 1px solid var(--color-primary);
        background-color: #F7F7F7;
        border-radius: 24px;
        overflow: hidden;

        &--content {
            padding: 24px 32px 40px;
            height: 100%;

            .btn {
                margin-top: auto;
            }
        }

        &--text {
            display: none;
        }

        &--desc {
            margin: 8px 0 24px;
            color: #717171;
            @include abstracts.font-assign(12px, 400, normal);

            & > * {
                color: inherit;
                @include abstracts.font-assign(inherit, inherit, inherit);
            }
        }

        &--image {
            width: 100%;
            margin-inline: auto;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
            }
        }
    }

    &__navigation {
        position: absolute;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        top: 50%;
        transform: translateY(-50%);
    }

    &__arrow[data-id="-1"] {
        margin-left: 16px;
    }

    &__arrow[data-id="+1"] {
        margin-right: 16px;
    }

    @include abstracts.media-min(sm) {
        &__item {
            background-color: #F7F7F7;
            margin-inline: 0;
            width: calc(calc(100% / 2) - 40px);

            &--text {
                display: block;
            }

            &--content {
                padding-inline: 40px;
            }
        }
    }

    @include abstracts.media-min(md) {
        &__inner-wrapper {
            padding-top: 64px;
            padding-bottom: 64px;
        }

        &__item {
            width: calc(calc(100% / 3) - 40px);
            flex-grow: 1;

            &--image {
                width: calc(max(22.083vw, 318px));
            }
        }
    }
}