@use '../abstracts/' as abstracts;

.subscription-highlight {
    padding: 12px 24px;
    overflow: hidden;

    .plyr--full-ui {
        width: 100%;
        height: 100%;
    }

    .plyr__video-wrapper {
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }

    .plyr video {
        width: 100%;
        object-fit: cover;
        object-position: top center;
    }

    &__inner-wrapper {
        position: initial;
        border: 1px solid var(--color-primary);
        display: flex;
        flex-direction: column;
        border-radius: 24px;
        overflow: hidden;

        &::before {
            content: '';
            display: none;
            position: absolute;        
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(270deg, rgba(0, 0, 0, 0.00) 20.76%, #000 57.72%);
            z-index: 15;
        }
    }

    &__text-wrapper {
        position: relative;
        z-index: 20;
        padding-top: 24px;
        padding-bottom: 40px;
    }

    &__background {
        position: initial;
        height: 220px;
        width: 100%;
    }

    &__text-content {
        width: 100%;
        color: var(--color-primary);

        .site-title__xxl {
            margin-bottom: 16px;
        }

        .btn {
            margin-top: 24px;
            background-color: var(--color-primary);
            color: var(--color-secondary);
        }

        & > * {
            color: inherit;
        }
    }

    @include abstracts.media-min(sm) {
        &__background {
            height: 320px;            
        }

    }

    @include abstracts.media-min(md) {
        padding: 0;

        .plyr video {
            width: auto;
            object-fit: contain;
            object-position: unset;
        }

        &__text-wrapper {
            padding-top: 0;
            padding-bottom: 0;
        }

        &__inner-wrapper {
            padding: 121px 0;
            position: relative;
            border: 0;
            border-radius: 0;

            &::before {
                display: block;
            }
        }

        &__background {
            content: '';
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            z-index: 10;
        }

        &__text-content {
            max-width: 565px;
            color: var(--color-secondary);

            .btn {
                margin-top: 40px;
                background-color: var(--color-secondary);
                color: var(--color-primary);
            }
        }
    }
}