@use '../abstracts/' as abstracts;

.subscription-highlight {
    padding: 12px 24px;
    overflow: hidden;

    .plyr--full-ui {
        width: 100%;
        height: 100%;
    }

    .plyr__video-wrapper {
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }

    video {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: top center;
    }

    &__inner-wrapper {
        position: initial;
        border: 1px solid var(--color-primary);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border-radius: 24px;
        overflow: hidden;

        &::before {
            content: '';
            display: none;
            position: absolute;        
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(270deg, rgba(0, 0, 0, 0.00) 20.76%, #000 57.72%);
            z-index: 15;
        }
    }

    &__text-wrapper {
        position: relative;
        z-index: 20;
        padding: 24px 24px 40px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__background {
        position: initial;
        height: 220px;
        width: 100%;
    }

    &__text-content {
        width: 100%;
        color: var(--color-primary);

        .site-title__xxl {
            margin-bottom: 16px;
        }

        .btn {
            margin-top: 24px;
            background-color: var(--color-primary);
            color: var(--color-secondary);
        }

        & > * {
            color: inherit;
        }
    }

    &__description {
        margin-top: 16px;
    }

    @include abstracts.media-min(sm) {
        &__background {
            height: 275px;
        }
    }

    @include abstracts.media-min(md) {
        padding: 0;

        &__inner-wrapper {
            flex-direction: row;
        }

        &__text-wrapper {
            padding: 25px 40px;
            width: 37.33%;
        }

        &__background {
            height: 472px;
            width: 56.20%;
        }
    }
}