@use '../abstracts/' as abstracts;

.testimonials {
    padding: 56px 0;
    background: #F6F6F6;

    &__inner-wrapper {
        width: 100%;
        overflow: hidden;
    }

    &__carousel-container {
        margin-left: 24px;
        margin-right: -183px;
    }

    &__carousel-nav {
        margin-top: 0;
        display: none;
    }
    
    &__list {
        &--item {
            border-radius: 24px;
            overflow: hidden;
            width: 286.667px;
            background-color: var(--color-secondary);
            
            &--image {
                width: 100%;
                height: 200px;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
            }
        }

        &--text-content {
            padding: 24px 16px 40px;
            text-align: center;
        }

        &--ratings {
            gap: 8px;
            margin-bottom: 16px;

            span { 
                display: flex;
                align-items: center;
                justify-content: center;
                flex-shrink: 0;
                width: 16px;
                height: 16px;
            }

            svg {
                width: 100%;
                height: 100%;
            }
        }

        h4 {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 6px;
            font-size: 16px;            
            font-weight: 500;
            line-height: normal;
            text-transform: capitalize;
            color: var(--color-primary);
            margin-bottom: 12px;

            svg {
                flex-shrink: 0;
            }
        }

        p {
            text-align: center;
            color: #717171;
            font-size: 12px;
            font-weight: 400;
            line-height: normal;
        }
    }

    .site-title__lg {
        margin-bottom: 40px;
    }

    @include abstracts.media-min(md) {
        padding: 80px 0;

        &__carousel-container {
            margin-left: calc(max(-8.333vw, -120px));
            margin-right: 0;
        }

        &__carousel-nav {
            margin: 40px auto 0;
            width: max-content;
            display: flex;
            align-items: center;
            justify-content: center;

            .btn:hover {
                background-color: transparent;

                svg path {
                    fill: var(--color-primary);
                }
            }
        }

        &__list {
            &--item {
                width: calc(calc(100% / 3) - 40px);
            }

            &--image {
                height: 280px;
            }

            h4 {
                font-size: 20px;
            }
        }
    }
}