@use '../abstracts/' as abstracts;

.contact-us {
    padding: 12px 0;

    &__inner-wrapper {
        padding: 24px;
        border-radius: 24px;
        border: 1px solid var(--color-primary);
    }

    &__header {
        text-align: center;
        margin-bottom: 32px;

        .site-title__lg {
            margin-bottom: 16px;
        }

        a {
            color: var(--color-primary);
            font-weight: 600;
            text-decoration: none;
        }
    }

    &__form-container {
        width: 100%;
        max-width: 782px;
        margin-inline: auto;
    }

    @include abstracts.media-min(md) {
        padding: 32px 0;   
    
        &__header {
            margin-bottom: 64px;
        }

        &__inner-wrapper {
            padding: 32px 24px;
        }
    }
}