@use '../abstracts/' as abstracts;

footer {
    padding: 56px 0;
    background-color: var(--color-primary);

    @include abstracts.media-min(md) {
        padding: 80px 0;
    }
}

.footer {
    display: flex;
    flex-direction: column;
    gap: 56px;

    &__top{
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        gap: 90px;

        &--left {
            width: max-content;
        }
        
        &--right {
            flex-grow: 1;
            display: flex;
            flex-wrap: wrap;
            flex-direction: column-reverse;
            align-items: flex-start;
            justify-content: space-between;
            gap: 40px;

            .site-title__md {
                margin-bottom: 8px;
            }
        }

        &--logo {
            width: 197px;
            height: 160px;

            img {
                width: 100%;
                height: 100%;
            }
        }

        &--menu {
            display: flex;
            flex-wrap: wrap;
            gap: 16px;
            list-style: none;
            padding-left: 0;
            width: 100%;

            .nav-item {
                width: calc(50% - 16px);
                flex: 0 0 calc(50% - 16px);
            }

            .nav-link {
                display: block;
                text-decoration: none;
                color: var(--color-secondary);
                font-size: 14px;
                font-weight: 400;
                line-height: normal;
                position: relative;
                width: max-content;
            }

            .nav-link::after {
                height: 1px;
                margin-top: 4px;
                background-color: var(--color-secondary);   
                transition: all 0.2s linear;
                content: '';
                display: block;
                width: 0;
            }

            .nav-link:hover::after {
                width: 100%;
            }
        }
    }

    &__bottom {
        padding: 0;
        gap: 24px;
        flex-direction: column;
        align-items: center;

        &--social {
            gap: 1rem;
        }   
    }

    @include abstracts.media-min(md) {
        gap: 80px;

        &__top {
            gap: 6.25vw; 

            &--right {
                flex-direction: row;
                gap: 0;
            }

            &--menu {
                width: 22.58%;
                flex-grow: 1;

                .nav-item {
                    width: calc(50% - 16px);
                }
            }
        }

        &__bottom {
            gap: 24px;
            flex-direction: row;
            justify-content: space-between;
            padding: 16px 0;
        }
    }
}