@use '../abstracts/' as abstracts;

footer {
    padding: 40px 0 32px;
    background-color: var(--color-secondary);

    @include abstracts.media-min(md) {
        padding: 80px 0;
    }
}

.footer-alt {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 24px;

    &__socials {
        gap: 12px;

        a {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 34px;
            height: 34px;
            border-radius: 1000px;
            border: 1px solid var(--color-primary);

            svg {
                width: 12px;
                height: 12px;
            }

            svg path {
                fill: var(--color-primary);
            }
        }
    }

    &__copyright p {
        color: #666;
        font-size: 12px;
        font-weight: 400;
        line-height: normal;
    }

    @include abstracts.media-min(sm) {
        flex-direction: row-reverse;
        justify-content: space-between;
    } 
}