footer {
    padding: 80px 0;
    background-color: var(--color-primary);
}

.footer {
    display: flex;
    flex-direction: column;
    gap: 80px;

    &__top{
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        gap: 90px;

        &--left {
            width: max-content;
        }
        
        &--right {
            flex-grow: 1;
            display: flex;
            flex-wrap: wrap;
            align-items: flex-start;
            justify-content: space-between;

            .site-title__md {
                margin-bottom: 8px;
            }
        }

        &--logo {
            width: 197px;
            height: 160px;

            img {
                width: 100%;
                height: 100%;
            }
        }

        &--menu {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 16px;
            list-style: none;
            padding-left: 0;
            width: 280px;

            .nav-item {
                width: 50%;
            }

            .nav-link {
                display: block;
                text-decoration: none;
                color: var(--color-secondary);
                font-size: 14px;
                font-weight: 400;
                line-height: normal;
                position: relative;
                width: max-content;
            }

            .nav-link::after {
                height: 1px;
                margin-top: 4px;
                background-color: var(--color-secondary);   
                transition: all 0.2s linear;
                content: '';
                display: block;
                width: 0;
            }

            .nav-link:hover::after {
                width: 100%;
            }
        }
    }

    &__bottom {
        padding: 16px 0;

        &--payment-list {
            gap: 8px;
        }

        &--social {
            gap: 1rem;
        }

        .payment-icon {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 48.448px;
            height: 24.224px;
            padding: 0 7px;
            background-color: var(--color-secondary);

            img {
                width: auto;
                height: 100%;
                object-fit: contain;
            }
        }
    }
}