@use '../abstracts/' as abstracts;

header {
    height: 7rem;
    padding: 16px 0;
}

.header {
    &__inner-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        // justify-content: center;
    }

    &__logo {
        width: 80px;
        height: 80px;
    }

    &__menu {
        &--desktop {
            gap: 44.67px;
            align-items: flex-start;
            justify-content: space-between;
            display: none;
        }

        .nav-link {
            font-size: 16px;
            font-weight: 600;
            line-height: normal;
            text-decoration: none;
            color: var(--color-primary);
            position: relative;

            &::after {
                height: 1px;
                margin-top: 4px;
                background-color: var(--color-primary);   
                transition: all 0.2s linear;
                content: '';
                display: block;
                width: 0;
            }

            &.active::after,
            &:hover::after {
                width: 100%;
            }

        }
    }

    &__hamburger {
        width: max-content;
        display: block;
    }

    &__icons {
        display: flex;
        align-items: center;
        gap: 16px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    @include abstracts.media-min(md) {
        &__menu {
            &--desktop {
                display: flex;
            }
        }

        &__icons {
            gap: 40px;
        }

        &__hamburger {
            display: none;
        }
    }
}

.promo-header {
    background-color: var(--color-primary);
    color: var(--color-secondary);
    text-align: center;
    padding: 16px 0;
}