@use '../abstracts/' as abstracts;

.newsletter {
    width: 100%;

    &__body {
        margin-top: 1.5rem;
    }       

    &__success, 
    &__error {
        margin-top: 1.5rem;
        text-align: center;
    }

    &__success { 
        color: #00a400;
    }

    &__error {
        color: #fc1c1c;
    }

    @include abstracts.media-min(md) {
        width: 50.579%;
    }
}