@use '../abstracts/' as abstracts;

.new-product {
    padding: 12px 0;
    background-color: var(--color-secondary);

    &__content {
        display: flex;
        gap: 16px;
        align-items: stretch;
        justify-content: center;
        flex-wrap: wrap;        
    }

    &__text-wrapper, 
    &__image {
        width: 100%;
        flex-grow: 1;
        border: 1px solid var(--color-primary);
        border-radius: 24px;
        overflow: hidden;
    }

    &__text-wrapper {
        padding: 24px 0;
        display: flex; 
        align-items: center;
        justify-content: center;
    }

    &__image {
        overflow: hidden;

        img {
            margin-inline: auto;
        }
    }

    &__text-content {
        max-width: 444px;
        width: 100%;
        margin: auto;
        text-align: center;

        .btn {
            margin-inline: auto;
        }

        span {
            color: #717171;
            text-align: center;
            font-size: 16px;
            font-weight: 400;
            line-height: normal;
            margin-bottom: 8px;
        }

        h3 {
            font-size: 30px;
            font-weight: 700;
            line-height: 1.4;
            text-transform: capitalize;
            margin-bottom: 8px;
        }
    }

    &__desc {
        color: #717171;
        text-align: center;
        font-size: 16px;
        font-weight: 400;
        line-height: normal;
        margin-bottom: 24px;
    }

    &__banner {
        display: flex;
        gap: 12px;
        background-color: var(--color-primary);
        padding: 16px 0;
        color: var(--color-secondary);

        span {
            flex-shrink: 0;
            font-size: 24px;
            font-style: italic;
            font-weight: 700;
            line-height: 1.4;
            text-transform: capitalize;
        }

        svg {
            flex-shrink: 0;
        }

        svg path {
            fill: var(--color-secondary);
        }
    }

    &__grid {
        padding: 12px 0;
        
        &--wrapper {
            padding: 32px 24px;
            border-radius: 24px;
            border: 1px solid var(--color-primary);
        }
    }

    @include abstracts.media-min(sm) {
        &__banner {
            background-color: var(--color-primary);
            
            svg path {
                color: var(--color-primary);
            }
        }

        &__text-content {
            h3 {
                font-size: 40px;
                margin-bottom: 16px;    
            }
        }

        &__desc {
            margin-bottom: 40px;
        }

        &__text-wrapper, 
        &__image {
            width: calc(50% - 40px);
            background-color: var(--color-secondary);    
        }
    }

    @include abstracts.media-min(md) {
        padding: 80px 0;
        
        &__content {
            gap: 40px;
        }

        &__text-wrapper {
            padding: 76px 5.833vw;
        }

        &__grid {
            padding: 0;
            &--wrapper {
                padding: 56px 0;
                border-radius: 0;
                border: 0;
            }
        }
    }
}