@use 'sass:map';
@use '../abstracts/' as abstracts;

// Flex Utilities
.flex {
	display: flex;

	&-col { flex-direction: column; }
	&-row { flex-direction: row; }
	&-row-reverse { flex-direction: row-reverse; }
	&-col-reverse { flex-direction: column-reverse; }
	&-wrap { flex-wrap: wrap; }

	// Combined flex-flow shortcuts
	&-row-wrap { flex-flow: row wrap; }
	&-row-nowrap { flex-flow: row nowrap; }
	&-col-nowrap { flex-flow: column nowrap; }
	&-reverse-wrap { flex-flow: row-reverse wrap; }
}

// Display Utilities
.d {
	&-none { display: none; }
	&-block { display: block; }
	&-inline { display: inline; }
}

// Width Utilities
.w {
	&-full { width: 100%; }
	&-max-content {
		width: -moz-max-content;
		width: max-content;
	}
	&-min-content {
		width: -moz-min-content;
		width: min-content;
	}
}

// Justify Content Utilities
.justify {
	&-start { justify-content: flex-start; }
	&-end { justify-content: flex-end; }
	&-center { justify-content: center; }
	&-between { justify-content: space-between; }
}

// Align Items Utilities
.align {
	&-center { align-items: center; }
	&-start { align-items: flex-start; }
	&-end { align-items: flex-end; }
	&-stretch { align-items: stretch; }
}

// Position Utilities
.position {
	&-relative { position: relative; }
	&-absolute { position: absolute; }
}

.hidden {
    display: none !important;

    &-in-xl {
        @include abstracts.media-min(lg) {
            display: none !important;
        }
    }
    
    &-in-lg {
        @include abstracts.media-min-max(md, lg) {
            display: none !important;
        }
    }

    &-in-md {
        @include abstracts.media-min-max(sm, md) {
            display: none !important;
        }
    }

    &-in-sm {
        @include abstracts.media-max(sm) {
            display: none;
        }
    }
}



// Container Utilities
/* Container */
.container {
    width: 100%; 
    max-width: 100%;
    margin-inline: auto;
    padding-inline: map.get(abstracts.$padding, sm);

    &::after, 
    &::before {
        display: none;
    }

    @include abstracts.media-min(md) {
        padding-inline: map.get(abstracts.$padding, md);
        max-width: map.get(abstracts.$containers, lg);
    }

    @include abstracts.media-min(lg) {
        padding-inline: 0;
    }
}