@use '../abstracts/' as abstracts; 

.about__story {
    padding: 0 0 12px;

    &--inner-wrapper {
        border: 1px solid var(--color-primary);
        border-radius: 24px;
        overflow: hidden;
        flex-direction: column;
    }

    &--text-content {
        width: 100%;
        padding: 24px;

        .site-title__lg {
            text-transform: uppercase;
            margin-bottom: 24px;   
        }
    }

    &--image {
        width: 100%; 
        height: 220px;

        img {
            width: 100%; 
            height: 100%; 
            object-fit: cover;
            object-position: center;
        }
    }

    @include abstracts.media-min(md) {
        padding: 64px 0;

        &--inner-wrapper {
            flex-direction: row-reverse;
            padding: 0;
        }

        &--text-content {
            width: 40.32%;
            padding: 0 40px;
        }

        &--image {
            width: 56.20%;
            height: 472px;
        }
    }
}

.about__vision {
    padding: 12px 0;
    
    &--inner-wrapper {
        gap: 24px;
    }

    &--text-content, 
    &--image {
        border-radius: 24px;
        border: 1px solid var(--color-primary);
        overflow: hidden;
    }

    &--text-content {
        padding: 24px;
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;

        .site-title__lg {
            margin-bottom: 24px;
        }
    }

    &--image {
        width: 100%;
        flex-grow: 1;
        position: relative;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            margin-inline: auto;
        }
    }

    &--banner-text {
        background-color: var(--color-primary);
        display: flex;
        padding: 16px 0;
        gap: 12px;
        color: var(--color-secondary);
        
        span,
        svg {
            flex-shrink: 0;
        }

        span {
            font-size: 24px;
            font-style: italic;
            font-weight: 700;
            line-height: 1.4;
            text-transform: uppercase;
            color: var(--color-secondary);
        }

        svg path {
            fill: var(--color-secondary);
        }
    }

    @include abstracts.media-min(md) {
        padding: 64px 0;

        &--inner-wrapper {
            gap: 40px;
        }

        &--text-content, 
        &--image {
            width: calc(50% - 40px);
        }

        &--text-content {
            padding: 0 5.833vw;
        }

        &--image {
            padding: 0;
        }
    }
}