@use '../abstracts/' as abstracts;

.cart {
    margin-bottom: 32px;

    &__inner-wrapper {
        overflow: hidden;
    }

    &__table {
        width: 100%;
        border-radius: 24px;
        border: 1px solid var(--color-primary);
        padding-bottom: 40px;
        
        &--head {
            th {
                padding: 16px;
                text-align: center;

                &:first-of-type {
                    width: 40%;
                    padding-left: 40px                    
                }

                &:not(:first-of-type) {
                    width: 20%;
                }
            }
        }

        &--row {
            td { 
                text-align: center;

                &:first-of-type {
                    width: 40%;
                    padding-left: 40px;
                }

                &:not(:first-of-type) {
                    width: 20%;
                }
            }
        }

        &--product-info {
            gap: 24px;
        }

        &--product-title {
            font-size: 18px;
            line-height: normal;
            font-weight: 600;
            text-decoration: none;
            color: var(--color-primary);
            text-transform: uppercase;
            margin-bottom: 8px;
        }

        &--product-image {
            width: 100%;
            height: 300px;
            
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
                object-position: center;
            }
        }

        &--product-price {
            font-size: 18px;
            font-weight: 600;
            line-height: normal;
            text-align: center;
        }

        &--empty {
            margin-bottom: 60px;
            text-align: center;

            h2 {
                margin-bottom: 16px;
            }

            .btn {
                margin: 24px auto 0;
            }
        }

        &--remove-product {
            color: #E9384F;
            font-size: 14px;
            font-weight: 500;
            line-height: normal;
            text-decoration: none;
            text-transform: uppercase;
            text-align: center;
        }
    }

    .product__qty {
        h4 {
            display: none;
        }

        .product__qty--inner-wrapper {
            justify-content: center;
        }

        .btn {
            border-radius: 0;
            width: 30px;
            height: 30px;
            padding: 0;

            svg {
                width: 24px;
                height: 24px;
            }
        }

        .product__qty--value {
            all: unset;
            width: 30px;
            height: 30px;
            display: flex;
            align-items: center;
            justify-self: center;
            text-align: center;
            border-block: 1px solid var(--color-primary);
        }
    }

    @include abstracts.media-min(md) {
        .product__qty {
            .btn {
                width: 50px;
                height: 50px;
            }

            .product__qty--value {
                width: 50px;
                height: 50px;
            }
        }
    }
}