@use '../abstracts/' as abstracts; 

.subscription-highlight {
    margin-bottom: 40px;

    @include abstracts.media-min(md) {
        margin-bottom: 64px;
    }
}

.collection__list {
    padding: 12px 0;

    &--header {
        margin-bottom: 24px;
    }

    &--header-desc {
        margin-top: 16px;
    }

    &--inner-wrapper {
        padding: 40px 24px;
        border: 1px solid var(--color-primary);
        border-radius: 24px;
    }

    @include abstracts.media-min(md) {
        padding: 56px 0;

        &--header {
            margin-bottom: 40px;
        }

        &--inner-wrapper {
            border: 0;
            border-radius: 0;
            padding: 0;
        }
    }
}