@use '../abstracts/' as abstracts;

.homepage {
    &__banner {
        width: 100%;

        &--inner-wrapper {
            display: flex;
            align-items: stretch;
            flex-wrap: wrap;

            .btn {
                display: none;
            }
        }

        &--text-content {
            background-color: var(--color-primary);
            color: var(--color-secondary);
            width: 100%;
            padding: 40px 24px;

            & > * {
                color: inherit;
            }
        }

        &--inner-text {
            max-width: 100%;
            width: 100%;
            
            .site-title__xl {
                margin-bottom: 1rem;
            }

            .payment-list {
                margin-top: 1.5rem;
                gap: 24px;
            }

            .payment-icon {
                width: 80px;
                height: 40px;
            }
        }

        &--image {
            width: 100%;
            height: 300px;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: top center;
            }
        }
    }

    &__cta-section {
        &--inner-wrapper {
            padding: 16px 24px;
        }

        &--card-list {
            gap: 24px;
        }

        &--card {
            border-radius: 24px;
            border: 1px solid var(--color-primary);
            width: 100%;
            padding: 24px;
            flex-grow: 1;
        }

        &--description {
            margin-bottom: 40px;
        }

        .site-title__lg {
            margin-bottom: 16px;
        }

        .btn {
            margin-top: auto;
            width: auto;
        }
    }

    &__hero {
        padding: 12px 24px;

        &--wrapper {
            padding: 24px 24px 44px;
            overflow: hidden;
            border-radius: 24px;
            border: 1px solid var(--color-primary);

            &::before {
                content: '';
                position: absolute;
                width: 100%;
                height: 100%;
                background: linear-gradient(0deg, rgba(255, 255, 255, 0.00) 50%, #FFF 100%);
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                z-index: 15;
            }
        }

        &--background {
            width: 100%;
            height: 100%;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            z-index: 10;
            background-size: cover;
            background-position: center;
        }

        &--image {
            width: 100%;
            height: 350px;
            margin: 40px auto -24px;
            z-index: 20;
        }

        &--image img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }

        &--inner-wrapper {
            z-index: 20;
            padding-inline: 0;
        }

        &--description {
            color: #717171;
            font-size: 1rem;
            font-weight: 400;
            line-height: normal;
            
            & > * {
                color: inherit;
                font-size: inherit;
                font-weight: inherit;
                line-height: inherit;
            }
        }

        &--button {
            margin: auto auto 0;
            position: absolute;
            bottom: 0;
            left: 50%;
            z-index: 30;
            transform: translateX(-50%);
        }

        .site-title__lg {
            margin-bottom: 16px;
        }
    }

    &__faq {
        padding: 24px 0;

        .site-title__lg {
            margin-bottom: 16px;
        }

        &--header {
            margin-bottom: 24px;
        }

        &--desc {
            color: #717171;
            font-size: 16px;            
            font-weight: 400;
            line-height: normal;

            & > * {
                color: inherit;
                font-size: inherit;
                font-weight: inherit;
                line-height: inherit;
            }
        }
    }

    &__brands {
        padding: 40px 0;

        &--image {
            width: max-content;
            margin: 0 auto 65px;
        }

        &--desc {
            color: #717171;
            font-size: 24px;
            font-weight: 400;
            line-height: normal;
            margin-top: 24px;

            & > * {
                color: inherit;
                font-size: inherit;
                font-weight: inherit;
                line-height: inherit;
            }
        }

        &--list-wrapper {
            margin-top: 40px;
            margin-inline: -3px;
        }

        &--item {
            background: rgba(255, 255, 255, 0.00);
            box-shadow: -1px -1px 0 0 #ECECEC inset, -1px -1px 0 0 #ECECEC;
            display: flex;
            align-items: center;
            justify-content: center;
            padding-inline: 20px;
            width: 174.88px !important;
            height: 107.89px;
            flex-shrink: 0;
            flex-grow: 0;
            
            img {
                width: 100%;
                height: 100%;
            }
        }

        .splide__list {
            padding: 10px 1px !important;
        }
    }

    &__new-product {
        padding: 12px 0;
        background-color: var(--color-secondary);

        &--content {
            display: flex;
            gap: 16px;
            align-items: stretch;
            justify-content: center;
            flex-wrap: wrap;
            margin-bottom: 40px;
        }

        &--text-wrapper, 
        &--image {
            width: 100%;
            flex-grow: 1;
            border: 1px solid var(--color-primary);
            border-radius: 24px;
            overflow: hidden;
        }

        &--text-wrapper {
            padding: 24px 0;
            display: flex; 
            align-items: center;
            justify-content: center;
        }

        &--image {
            overflow: hidden;

            img {
                margin-inline: auto;
            }
        }

        &--text-content {
            max-width: 444px;
            width: 100%;
            margin: auto;
            text-align: center;

            .btn {
                margin-inline: auto;
            }

            span {
                color: #717171;
                text-align: center;
                font-size: 16px;
                font-weight: 400;
                line-height: normal;
                margin-bottom: 8px;
            }

            h3 {
                font-size: 30px;
                font-weight: 700;
                line-height: 1.4;
                text-transform: capitalize;
                margin-bottom: 8px;
            }
        }

        &--desc {
            color: #717171;
            text-align: center;
            font-size: 16px;
            font-weight: 400;
            line-height: normal;
            margin-bottom: 24px;
        }

        .new-arrival__banner {
            display: flex;
            gap: 12px;
            background-color: var(--color-primary);
            padding: 16px 0;
            color: var(--color-secondary);

            span {
                flex-shrink: 0;
                font-size: 24px;
                font-style: italic;
                font-weight: 700;
                line-height: 1.4;
                text-transform: capitalize;
            }

            svg {
                flex-shrink: 0;
            }

            svg path {
                fill: var(--color-secondary);
            }
        }
    }

    @include abstracts.media-min(sm) {
        &__banner--inner-wrapper {
            .btn {
                display: flex;
                margin-top: 40px;
            }
        }
        
        &__cta-section {
            &--inner-wrapper {
                padding: 64px 0;
            }

            &--card-list{
                gap: 40px;
            }

            &--card {
                width: calc(50% - 40px);
            }

            .btn {
                width: max-content;
            }
        }

        &__new-product {
            .new-arrival__banner {
                background-color: var(--color-secondary);
            }

            &--text-content {
                h3 {
                    font-size: 40px;
                    margin-bottom: 16px;
                }
            }

            &--desc {
                margin-bottom: 40px;
            }

            &--text-wrapper, 
            &--image {
                width: calc(50% - 40px);
                background-color: var(--color-secondary);
            }

            .new-arrival__banner {
                background-color: var(--color-primary);

                svg path {
                    color: var(--color-primary);
                }
            }
        }
    }

    @include abstracts.media-min(md) {        
        &__banner {
            &--inner-wrapper {
                align-items: stretch;
                flex-direction: row;
            }

            &--text-content {
                padding: 1.667vw 0 1.667vw 6.944vw;
                width: 50%;
                display: flex;
                flex-direction: column;
                justify-content: center;
            }

            &--inner-text {
                padding: 56px 2.778vw 0 0;
                width: 33.681vw;
            }

            &--image {
                width: 50%;
                height: auto;
            }
        }

        &__hero {
            padding: 0;

            &--button {
                position: initial;
                transform: unset;
                margin-top: 40px;
            }

            &--wrapper {
                border-radius: 0;
                border: 0;
            }

            &--image {
                width: calc(max(56.528vw, 814px));
                height: 640px;
                margin: 64px auto -230px;
            }
        }

        &__faq {
            padding: 80px 0;
            
            &--header {
                margin-bottom: 24px;
            }
        }

        &__brands {
            padding: 0 0 80px;
        }

        &__new-product {
            padding: 80px 0;
            background-color: var(--color-primary);

            &--content {
                margin-bottom: 80px;
                gap: 40px;
            }

            &--text-wrapper {
                padding: 76px 5.833vw;
            }
        }
    }

    @include abstracts.media-min(xxl) {
        &__brands {
            .splide__list {
                justify-content: center;
            }
        }
    }
}