@use '../abstracts/' as abstracts;

body {
    background-color: #F1F1F1;
}

.homepage__faq--inner-wrapper, 
.new-product__grid--wrapper {
    background-color: var(--color-secondary);
}

.homepage__faq {
    padding: 40px 24px;

    @include abstracts.media-min(md) {
        padding-inline: 32px;
    }
}

.homepage__faq--inner-wrapper {
    padding-block: 24px;
    border-radius: 24px;
    border: 1px solid var(--color-primary);
}

.product__ingredients {
    padding: 40px 24px 80px;

    &--image {
        margin-inline: auto;
    }

    &--list {
        gap: 40px;
        margin-top: 65px;
    }

    &--list-item {
        text-align: center;

        h4 {
            font-size: 32px;
            font-weight: 600;
            line-height: 1.2;
        }

        span {
            display: block;
            margin-top: 4px;
            color: #717171;
            font-size: 24px;
            font-weight: 400;
            line-height: normal;
        }
    }
}