@use 'sass:map';
@use './variables' as *;

@mixin media-min($breakpoint) {
  @media screen and (min-width: calc(map.get($breakpoints, $breakpoint) + 1px)) {
    @content;
  }
}

@mixin media-max($breakpoint) {
  @media screen and (max-width: map.get($breakpoints, $breakpoint)) {
    @content;
  }
}

@mixin media-min-max($min, $max) {
  @media (min-width: calc(map.get($breakpoints, $min) + 1px)) and (max-width: map.get($breakpoints, $max)){
    @content;
  }
}