/** Breakpoints **/
:root {
    --zesty-coconut: #E5FFF2;
    --zesty-coconut-50: #00B75B;
    --zesty-coconut-80: #42643E;

    --zesty-lychee: #FFE8EF;
    --zesty-lychee-50: #E2CBD2;
     --zesty-lychee-80: #665D5F;

    --winty: #FBDEC0;
    --winty-50: #DAC1A3;
    --winty-80: #64594D;

    --zesty-cucumber-lemon: #FCFBD2;
    --zesty-cucumber-lemon-50: #DFDEB5;
    --zesty-cucumber-lemon-80: #656454;

    --mixie: #FFB5CC;
    --mixie-50: #E298AF;
    --mixie-80: #664851;
}

$breakpoints: (
  'xsm': 320px,
  'sm': 540px,
  'md': 991px,
  'lg': 1199px,
  'xl': 1336px,
  'xxl': 1440px
) !default;

$containers: (
    'lg': 1304px
) !default;

$padding: (
    'sm': 24px,
    'md': 32px
) !default;
