/** Breakpoints **/
:root {
    --zesty-coconut: #E5FFF2;
    --zesty-lychee: #FFE8EF;
    --winty: #FBDEC0;
    --zesty-cucumber-lemon: #FCFBD2;
    --mixie: #FFB5CC;
}

$breakpoints: (
  'xsm': 320px,
  'sm': 540px,
  'md': 991px,
  'lg': 1199px,
  'xl': 1336px,
  'xxl': 1440px
) !default;

$containers: (
    'lg': 86.111vw
) !default;

$padding: (
    'sm': 24px,
    'md': 32px
) !default;
