/* 
 * Global CSS styles for the 40lovedrinks theme
 */

@import url('./base/_reset.css');
@import url('./base/_utilities.css');
@import url('./base/_typography.css');

/* Site Sections */
@import url('./sections/_header.css');