/** Breakpoints **/
.collection__banner {
  padding: 40px 24px;
}
.collection__banner--inner-wrapper {
  max-width: 730px;
  width: 100%;
  padding: 24px;
  margin-inline: auto;
}
@media screen and (min-width: 992px) {
  .collection__banner {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .collection__banner--inner-wrapper {
    padding: 40px;
  }
}