/** Breakpoints **/
.coming-soon {
  height: auto;
  display: flex;
  justify-content: center;
  margin: 56px 0;
}
.coming-soon h1 {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -0.9px;
  text-transform: capitalize;
  text-align: center;
  color: var(--color-secondary);
}
.coming-soon__logo {
  position: relative;
  width: -moz-max-content;
  width: max-content;
  overflow: hidden;
  z-index: 30;
  position: absolute;
  height: 40px;
  top: 0;
}
.coming-soon__logo img {
  width: 100%;
  height: 100%;
}
.coming-soon__image {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 20;
}
.coming-soon__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.coming-soon__inner-wrapper {
  width: 100%;
  margin-inline: auto;
}
.coming-soon__banner {
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
  border: 6px solid var(--color-primary);
  height: 300px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}
.coming-soon__banner--title {
  position: relative;
  z-index: 30;
}
.coming-soon__banner-desc {
  margin-top: 29px;
}
.coming-soon__banner-desc .site-title__xl {
  margin-bottom: 17px;
}
.coming-soon__banner-desc p {
  font-size: 20px;
  margin-bottom: 16px;
}

.container {
  max-width: 1330px;
  width: 100%;
  padding-inline: 24px;
}

@media screen and (min-width: 992px) {
  .coming-soon h1 {
    font-size: 30px;
  }
  .coming-soon__logo {
    height: 70px;
    top: 26px;
  }
  .coming-soon__banner {
    height: 600px;
  }
  .coming-soon__banner-desc {
    margin-top: 63px;
  }
  .coming-soon__banner-desc .site-title__xl {
    margin-bottom: 41px;
  }
  .coming-soon__banner-desc p {
    margin-bottom: 32px;
  }
}