/* 
 * Global CSS styles for the 40lovedrinks theme
 */
/** Critical CSS for the theme. This file is included on every page. */
/* Reset styles inspired by https://www.joshwcomeau.com/css/custom-css-reset/ */
* {
  box-sizing: border-box;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  min-height: 100svh;
}

html:has(dialog[scroll-lock][open], details[scroll-lock][open]) {
  overflow: hidden;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
textarea,
select {
  font: inherit;
  border-radius: var(--style-border-radius-inputs);
}

select {
  background-color: var(--color-background);
  color: currentcolor;
}

dialog {
  background-color: var(--color-background);
  color: var(--color-foreground);
}

p {
  text-wrap: pretty;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p:empty {
  display: none;
}

:is(p, h1, h2, h3, h4, h5, h6):first-child,
:empty:first-child + :where(p, h1, h2, h3, h4, h5, h6) {
  margin-block-start: 0;
}

:is(p, h1, h2, h3, h4, h5, h6):last-child,
:where(p, h1, h2, h3, h4, h5, h6) + :has(+ :empty:last-child) {
  margin-block-end: 0;
}

/** Theme styles below */
body {
  font-family: var(--font-primary--family);
}

/** Section layout utilities */
/**
 * Setup a grid that enables both full-width and constrained layouts
 * depending on the class of the child elements.
 *
 * By default, a minimum content margin is set on the left and right
 * sides of the section and the content is centered in the viewport to
 * not exceed the maximum page width.
 *
 * When a child element is given the `full-width` class, it will span
 * the entire viewport.
 */
.shopify-section {
  width: 100%;
}

.row::after, .row::before {
  display: none;
}

/** Breakpoints **/
p {
  margin: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: normal;
  color: inherit;
}

.site-title__xxl {
  font-size: 1.875rem;
  font-weight: 800;
  line-height: 1.4;
}
.site-title__xl {
  font-size: 2rem;
  font-weight: 800;
  line-height: 1.2;
}
.site-title__lg {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.2;
}
.site-title__md {
  font-size: 1.125rem;
  font-weight: 600;
  line-height: normal;
}

.text-uppercase {
  text-transform: uppercase;
}
.text-italic {
  font-style: italic;
}
.text-normal {
  font-style: normal;
}
.text-hidden {
  font-size: 0;
}
.text-bold {
  font-weight: 700;
}
.text-normal {
  font-weight: 400;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.text-left {
  text-align: left;
}
.text-white {
  color: var(--color-secondary);
}
.text-black {
  color: vaR(--color-primary);
}

.flex {
  display: flex;
}
.flex-col {
  flex-direction: column;
}
.flex-row {
  flex-direction: row;
}
.flex-row-reverse {
  flex-direction: row-reverse;
}
.flex-col-reverse {
  flex-direction: column-reverse;
}
.flex-wrap {
  flex-wrap: wrap;
}
.flex-row-wrap {
  flex-flow: row wrap;
}
.flex-row-nowrap {
  flex-flow: row nowrap;
}
.flex-col-nowrap {
  flex-flow: column nowrap;
}
.flex-reverse-wrap {
  flex-flow: row-reverse wrap;
}

.d-none {
  display: none;
}
.d-block {
  display: block;
}
.d-inline {
  display: inline;
}

.w-full {
  width: 100%;
}
.w-max-content {
  width: -moz-max-content;
  width: max-content;
}
.w-min-content {
  width: -moz-min-content;
  width: min-content;
}

.justify-start {
  justify-content: flex-start;
}
.justify-end {
  justify-content: flex-end;
}
.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}
.align-start {
  align-items: flex-start;
}
.align-end {
  align-items: flex-end;
}
.align-stretch {
  align-items: stretch;
}

.position-relative {
  position: relative;
}
.position-absolute {
  position: absolute;
}

.hidden {
  display: none !important;
}

/* Container */
.container {
  width: 100%;
  max-width: 100%;
  margin-inline: auto;
  padding-inline: 24px;
}
.container::after, .container::before {
  display: none;
}

.btn {
  all: unset;
  display: flex;
  width: -moz-max-content;
  width: max-content;
  align-items: center;
  justify-content: center;
  height: 56px;
  padding: 0 24px;
  font-size: 16px;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s ease;
  background-color: var(--color-primary);
  color: var(--color-secondary);
  border-radius: 1000px;
  text-align: center;
}
.btn:hover {
  background: #333333;
  color: var(--color-secondary);
}
.btn:hover svg path {
  fill: var(--color-secondary);
}
.btn.white {
  background-color: var(--color-secondary);
  color: var(--color-primary);
}
.btn.white:hover {
  background: #b5b4b4;
}
.btn.full {
  width: auto;
  text-align: center;
}
.btn.bordered-black {
  border: 1px solid #1B1B1B;
}
.btn.transparent {
  background: transparent;
}
.btn.transparent:hover {
  background-color: var(--color-primary);
}
.btn.transparent:hover svg path {
  fill: var(--color-secondary);
}
.btn.circle {
  width: 40px;
  height: 40px;
  padding: 0;
}
.btn.boxed {
  border-radius: 0;
}

.form__group--inline {
  display: flex;
  align-items: stretch;
  gap: 16px;
  flex-direction: column;
}
.form__control {
  display: flex;
  padding: 16px 24px;
  flex-grow: 1;
  border-radius: 8px;
}
.form__control.bordered-white {
  border: 1px solid var(--color-secondary);
}
.form__control.bordered-white input,
.form__control.bordered-white textarea {
  color: var(--color-secondary);
}
.form__control.bordered-white input::-moz-placeholder, .form__control.bordered-white textarea::-moz-placeholder {
  color: var(--color-secondary)/2;
}
.form__control.bordered-white input::placeholder,
.form__control.bordered-white textarea::placeholder {
  color: var(--color-secondary)/2;
}
.form__control.bordered-black {
  border: 1px solid var(--color-primary);
}
.form__control.bordered-black input,
.form__control.bordered-black textarea {
  color: var(--color-primary);
}
.form__control.rounded {
  border-radius: var(--input-corner-radius);
}
.form__control input {
  all: unset;
  width: 100%;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
}

.payment-list {
  gap: 8px;
  flex-wrap: wrap;
}
.payment-list .payment-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48.448px;
  height: 24.224px;
  padding: 0 7px;
  background-color: var(--color-secondary);
  flex-shrink: 0;
}
.payment-list .payment-icon img {
  width: auto;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.review-ratings {
  margin: 1rem 0 0.5rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;
}
.review-ratings__list {
  display: flex;
  align-items: center;
  gap: 6px;
  margin-right: 8px;
}
.review-ratings__item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 17.143px;
  height: 17.143px;
  flex-shrink: 0;
}
.review-ratings__item svg {
  width: 17.143px;
  height: 17.143px;
  flex-shrink: 0;
}
.review-ratings__item svg path {
  fill: var(--color-secondary);
}
.review-ratings__text-content {
  flex-grow: 1;
}
.review-ratings__text-content:last-of-type {
  width: 100%;
}

.product-slider {
  position: relative;
}
.product-slider__inner-wrapper {
  padding-top: 48px;
  padding-bottom: 48px;
}
.product-slider__item {
  width: 100%;
  margin-inline: auto;
  border: 1px solid var(--color-primary);
  background-color: #F7F7F7;
  border-radius: 24px;
  overflow: hidden;
}
.product-slider__item--content {
  padding: 24px 32px 40px;
  height: 100%;
}
.product-slider__item--content .btn {
  margin-top: auto;
}
.product-slider__item--text {
  display: none;
}
.product-slider__item--desc {
  margin: 8px 0 24px;
  color: #717171;
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
}
.product-slider__item--desc > * {
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
}
.product-slider__item--image {
  width: 100%;
  margin-inline: auto;
}
.product-slider__item--image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.product-slider__navigation {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
}
.product-slider__arrow[data-id="-1"] {
  margin-left: 16px;
}
.product-slider__arrow[data-id="+1"] {
  margin-right: 16px;
}

.subscription-highlight {
  padding: 24px;
}
.subscription-highlight__inner-wrapper {
  position: initial;
  border: 1px solid var(--color-primary);
  display: flex;
  flex-direction: column;
}
.subscription-highlight__inner-wrapper::before {
  content: "";
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(270deg, rgba(0, 0, 0, 0) 20.76%, #000 57.72%);
  z-index: 15;
}
.subscription-highlight__text-wrapper {
  position: relative;
  z-index: 20;
  padding-top: 24px;
  padding-bottom: 40px;
}
.subscription-highlight__background {
  position: initial;
  height: 220px;
  width: 100%;
}
.subscription-highlight__text-content {
  width: 100%;
  color: var(--color-primary);
}
.subscription-highlight__text-content .site-title__xxl {
  margin-bottom: 16px;
}
.subscription-highlight__text-content .btn {
  margin-top: 24px;
  background-color: var(--color-primary);
  color: var(--color-secondary);
}
.subscription-highlight__text-content > * {
  color: inherit;
}

/* Site Sections */
header {
  height: 7rem;
  padding: 16px 0;
}

.header__inner-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__logo {
  width: 80px;
  height: 80px;
}
.header__menu--desktop {
  gap: 44.67px;
  align-items: flex-start;
  justify-content: space-between;
  display: none;
}
.header__menu .nav-link {
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  text-decoration: none;
  color: var(--color-primary);
  position: relative;
}
.header__menu .nav-link::after {
  height: 1px;
  margin-top: 4px;
  background-color: var(--color-primary);
  transition: all 0.2s linear;
  content: "";
  display: block;
  width: 0;
}
.header__menu .nav-link.active::after, .header__menu .nav-link:hover::after {
  width: 100%;
}
.header__hamburger {
  width: -moz-max-content;
  width: max-content;
  display: block;
}
.header__icons {
  display: flex;
  align-items: center;
  gap: 16px;
}
.header__icons img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.promo-header {
  background-color: var(--color-primary);
  color: var(--color-secondary);
  text-align: center;
  padding: 16px 0;
}

footer {
  padding: 56px 0;
  background-color: var(--color-primary);
}

.footer {
  display: flex;
  flex-direction: column;
  gap: 56px;
}
.footer__top {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 90px;
}
.footer__top--left {
  width: -moz-max-content;
  width: max-content;
}
.footer__top--right {
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column-reverse;
  align-items: flex-start;
  justify-content: space-between;
  gap: 40px;
}
.footer__top--right .site-title__md {
  margin-bottom: 8px;
}
.footer__top--logo {
  width: 197px;
  height: 160px;
}
.footer__top--logo img {
  width: 100%;
  height: 100%;
}
.footer__top--menu {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  list-style: none;
  padding-left: 0;
  width: 100%;
}
.footer__top--menu .nav-item {
  width: calc(50% - 16px);
  flex: 0 0 calc(50% - 16px);
}
.footer__top--menu .nav-link {
  display: block;
  text-decoration: none;
  color: var(--color-secondary);
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  position: relative;
  width: -moz-max-content;
  width: max-content;
}
.footer__top--menu .nav-link::after {
  height: 1px;
  margin-top: 4px;
  background-color: var(--color-secondary);
  transition: all 0.2s linear;
  content: "";
  display: block;
  width: 0;
}
.footer__top--menu .nav-link:hover::after {
  width: 100%;
}
.footer__bottom {
  padding: 0;
  gap: 24px;
  flex-direction: column;
  align-items: center;
}
.footer__bottom--social {
  gap: 1rem;
}

.newsletter {
  width: 100%;
}
.newsletter__body {
  margin-top: 1.5rem;
}
@media screen and (min-width: 321px) {
  .form__group--inline {
    flex-direction: row;
    align-items: center;
    gap: 24px;
  }
}
@media (min-width: 541px) and (max-width: 991px) {
  .hidden-in-md {
    display: none !important;
  }
}
@media screen and (min-width: 541px) {
  .form__control {
    border-radius: 0;
  }
  .form__group--inline {
    gap: 40px;
  }
  .product-slider__item {
    background-color: #F7F7F7;
    margin-inline: 0;
    width: calc(50% - 40px);
  }
  .product-slider__item--text {
    display: block;
  }
  .product-slider__item--content {
    padding-inline: 40px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .hidden-in-lg {
    display: none !important;
  }
}
@media screen and (min-width: 992px) {
  .site-title__xxl {
    font-size: 3.5rem;
    line-height: 1.4;
  }
  .site-title__xl {
    font-size: 2.5rem;
    line-height: 1.4;
  }
  .site-title__lg {
    font-size: 30px;
    line-height: 1.4;
  }
  .site-title__md {
    font-size: 1.5rem;
  }
  .container {
    padding-inline: 32px;
    max-width: 86.111vw;
  }
  .review-ratings__item {
    background: rgba(255, 248, 220, 0.5);
    width: 22px;
    height: 22px;
  }
  .review-ratings__item svg {
    width: 14px;
    height: 14px;
  }
  .review-ratings__item svg path {
    fill: #FCD116;
  }
  .product-slider__inner-wrapper {
    padding-top: 64px;
    padding-bottom: 64px;
  }
  .product-slider__item {
    width: calc(33.3333333333% - 40px);
    flex-grow: 1;
  }
  .product-slider__item--image {
    width: max(22.083vw, 318px);
  }
  .subscription-highlight {
    padding: 0;
  }
  .subscription-highlight__text-wrapper {
    padding-top: 0;
    padding-bottom: 0;
  }
  .subscription-highlight__inner-wrapper {
    padding: 121px 0;
    position: relative;
    border: 0;
  }
  .subscription-highlight__inner-wrapper::before {
    display: block;
  }
  .subscription-highlight__background {
    content: "";
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
  }
  .subscription-highlight__text-content {
    max-width: 565px;
    color: var(--color-secondary);
  }
  .subscription-highlight__text-content .btn {
    margin-top: 40px;
  }
  .header__menu--desktop {
    display: flex;
  }
  .header__icons {
    gap: 40px;
  }
  .header__hamburger {
    display: none;
  }
  footer {
    padding: 80px 0;
  }
  .footer {
    gap: 80px;
  }
  .footer__top {
    gap: 6.25vw;
  }
  .footer__top--right {
    flex-direction: row;
    gap: 0;
  }
  .footer__top--menu {
    width: 22.58%;
    flex-grow: 1;
  }
  .footer__top--menu .nav-item {
    width: calc(50% - 16px);
  }
  .footer__bottom {
    gap: 24px;
    flex-direction: row;
    justify-content: space-between;
    padding: 16px 0;
  }
  .newsletter {
    width: 50.579%;
  }
}
@media screen and (min-width: 1200px) {
  .hidden-in-xl {
    display: none !important;
  }
  .container {
    padding-inline: 0;
  }
}
@media screen and (max-width: 540px) {
  .hidden-in-sm {
    display: none;
  }
}