/** Breakpoints **/
.homepage__banner {
  width: 100%;
}
.homepage__banner--inner-wrapper {
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
}
.homepage__banner--inner-wrapper .btn {
  display: none;
}
.homepage__banner--text-content {
  background-color: var(--color-primary);
  color: var(--color-secondary);
  width: 100%;
  padding: 40px 24px;
}
.homepage__banner--text-content > * {
  color: inherit;
}
.homepage__banner--inner-text {
  max-width: 100%;
  width: 100%;
}
.homepage__banner--inner-text .site-title__xl {
  margin-bottom: 1rem;
}
.homepage__banner--inner-text .payment-list {
  margin-top: 1.5rem;
  gap: 24px;
}
.homepage__banner--inner-text .payment-icon {
  width: 80px;
  height: 40px;
}
.homepage__banner--image {
  width: 100%;
  height: 300px;
}
.homepage__banner--image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top center;
     object-position: top center;
}
@media screen and (min-width: 541px) {
  .homepage__banner--inner-wrapper .btn {
    display: flex;
    margin-top: 40px;
  }
}
@media screen and (min-width: 992px) {
  .homepage__banner--inner-wrapper {
    align-items: stretch;
    flex-direction: row;
  }
  .homepage__banner--text-content {
    padding: 1.667vw 0 1.667vw 6.944vw;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .homepage__banner--inner-text {
    padding: 56px 2.778vw 0 0;
    width: 33.681vw;
  }
  .homepage__banner--image {
    width: 50%;
    height: auto;
  }
}