/** Breakpoints **/
:root {
  --zesty-coconut: #E5FFF2;
  --zesty-coconut-50: #00B75B;
  --zesty-coconut-80: #42643E;
  --zesty-lychee: #FFE8EF;
  --zesty-lychee-50: #E2CBD2;
  --zesty-lychee-80: #665D5F;
  --winty: #FBDEC0;
  --winty-50: #DAC1A3;
  --winty-80: #64594D;
  --zesty-cucumber-lemon: #FCFBD2;
  --zesty-cucumber-lemon-50: #DFDEB5;
  --zesty-cucumber-lemon-80: #656454;
  --mixie: #FFB5CC;
  --mixie-50: #E298AF;
  --mixie-80: #664851;
}

.thank-you__hero {
  padding-block: 0 12px;
}
.thank-you__hero .new-product__image {
  max-width: 850px;
  width: 100%;
  margin-inline: auto;
}
.thank-you__hero .new-product__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
@media screen and (min-width: 992px) {
  .thank-you__hero {
    padding-block: 0 40px;
  }
}