<header class="header-alt">
    <div class="container">
        <div class="header__inner-wrapper justify-center align-center">
            <div class="header__logo">
                <a href="{{ routes.root_url }}">
                    <img 
                        src="{{ settings.logo | image_url }}" 
                        alt="{{ shop.name }}"
                        width="80"
                        height="80"
                    >
                </a>
            </div>
        </div>
    </div>
</header>