/* 
 * Global CSS styles for the 40lovedrinks theme
 */

@use 'base/reset';
@use 'base/typography';
@use 'base/utilities';

// Components
@use 'components/button';
@use 'components/form';
@use 'components/payment-methods';
@use 'components/review-ratings';
@use 'components/product-carousel';
@use 'components/subscription-highlights';
@use 'components/formula';
@use 'components/testimonials';
@use 'components/featured-testimonial';
@use 'components/product-card';
@use 'components/cta';

/* Site Sections */
@use 'sections/header';
@use 'sections/footer';
@use 'sections/newsletter';
@use 'sections/banner';
@use 'sections/faq';
@use 'sections/new-product';