/* 
 * Global CSS styles for the 40lovedrinks theme
 */

@use 'base/reset';
@use 'base/typography';
@use 'base/utilities';

// Components
@use 'components/button';
@use 'components/form';
@use 'components/payment-methods';

/* Site Sections */
@use 'sections/header';
@use 'sections/footer';
@use 'sections/newsletter';